.mono-font {
    font-family: 'Droid Sans Mono', monospace;
}

mark {
    border-radius: 2px;
    background-color: #b1d5e5;
}

.mark-container {
    position: relative;
    width: 100%;
    height: 11em;
}

.sample-text {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3;
}
.sample-text textarea {
    background-color: transparent;
    display: block;
    overflow: auto;
    resize: none;
}

.highlights {
    z-index: 2;
    color: transparent;
    top: 22px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    white-space: pre-wrap;
    word-wrap: break-word;
}
